@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --headerHeight: 4.5rem;
  --bannerHeight: 4.5rem;

  --background: hsl(210, 7%, 11%);
  --foreground: hsl(210, 20%, 98%);

  --primary-100: hsl(274, 100%, 95%);
  --primary-200: hsl(274, 100%, 85%);
  --primary-300: hsl(274, 100%, 75%);
  --primary-400: hsl(274, 100%, 65%);
  --primary-500: hsl(274, 100%, 55%);
  --primary-600: hsl(274, 100%, 45%);
  --primary-700: hsl(274, 100%, 35%);
  --primary-800: hsl(274, 100%, 25%);
  --primary-900: hsl(274, 100%, 15%);
  --primary-950: hsl(274, 100%, 10%);

  --color-text: hsl(210, 7%, 11%);
  --color-text-muted: hsl(210, 7%, 40%);
  --color-text-inverted: hsl(210, 20%, 98%);

  --color-error: hsl(0, 100%, 50%);
  --color-warning: hsl(40, 100%, 50%);
  --color-success: hsl(120, 100%, 40%);
  --color-info: hsl(200, 100%, 50%);
}

input::-webkit-search-cancel-button,
input::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.wrap {
  @apply max-w-7xl h-header mx-auto py-3 px-2 sm:px-6 lg:px-8;
}

.header {
  @apply fixed top-0 w-full bg-background text-white shadow z-10;
}

.promo-card {
  @apply text-gray-800 rounded-lg p-6 flex flex-col justify-between h-full;
}

.external-auth-btn {
  @apply text-gray-800 flex-1 flex gap-2 justify-center items-center border border-solid border-gray-500 rounded p-2 font-semibold transition duration-200 ease-linear hover:bg-gray-100;
}
