@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a1c1e;

  --headerHeight: 4rem;

  --hover-text-color: #91919c;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --background-color: #1a1c1e;
  --primary-theme-color: #8f00ff;
  --primary-theme-hover-color: #8b0eeb;
  --searchbar-background-color: #e9f3fd;
  --footer-link-color: #91919c;
  --footer-link-hover-color: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
